*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}



/*---------menu de navegacion-------*/
.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}
.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}
.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: #da6b1d;
    color: white;
}

.navbar-link-book:visited,
.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid #da6b1d;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}

.toggle{
    height: 5rem;
    width: 5rem;
    display: none
    ;
}

.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}
/*---------------------------------*/
.header2 {
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
  }

.nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #da6b1d;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }

/*------------------------------------*/


.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}

.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    right: 0;
}
.video ul{
    display: flex;
    padding: 0;
    width: 300%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
    animation-direction: alternate;

}
.video:nth-child(2)ul{
    animation-timing-function: ease-in;

}
video li{
    width: 200%;
    list-style: none;
}


@keyframes cambio{
0%{margin-left: 0;}
20%{margin-left: 0;}

25%{margin-left: -100%;}
45%{margin-left:-100%;}

50%{margin-left: -200%;}
70%{margin-left:-200%;}

75%{margin-left: -200%;}
100%{margin-left:-200%;}

}



#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.book-now:visited,
.book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}

/* MENU */

.menu{
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5));
}

.menu-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0,0,0,.9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.menu-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
 /*imagenes del menu*/
.menu-img-bbq{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/costillabbq.jpg");
}
.menu-img-costilla{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/costilla.jpg");
}
.menu-img-ph{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/muslos-de-pollo-ahumado_XBogpH.jpg");
}
.menu-img-tp{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/Tilapia-frita-e1610971915812.jpg");
}
.menu-img-ts{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/img_pescado_sudado_38951_600.jpg");
}
.menu-img-trucha{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/trucha-frita-puno-grande.jpg");
}
.menu-img-fp{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/pollo-a-la-plancha-con-enslada-light.jpg");
}
.menu-img-chp{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/cguletapollo.jpg");
}
.menu-img-chc{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/chuleta\ cerdo.jpg");
}
.menu-img-picada{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/picada.jpg");
}
.menu-img-churrasco{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/MG_1066-Churrasco.jpg");
}
.menu-img-sancocho{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/sancocho-de-gallina2.jpg");
}
/*------------------------------*/
.menu-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.menu-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.menu-title{
    font-size: 3rem;
    text-align: center;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #da6b1d;
    text-shadow: 0 .4rem 2rem rgba(0,0,0,.4);
}
/*Contact--------------------------------------------------------*/
.contact{
    padding: 15rem 10rem;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
}
.contact-content{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 3rem rgba(0,0,0,0.2);
}
.left{
    background-color:#da6b1d ;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    background-color:white ;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.right img{

    height: 15rem;
    width: 15rem;
    position: absolute;
    top:-11rem;
    left: -11rem;
}
.contact-form{
   text-align: center;
padding: 5rem;
width: 100%;
}

.form{
    width: 100%;
    text-align: center;
    padding: 3rem 0;

}
.form-grup{
    position: relative;
    padding: 2rem ;
    width: 100%;

}

.contact-heading{
    font-size: 4rem;
    color: #da6b1d;

    
}
.contact-btn:link,
.contact-btn:visited{
    text-decoration: none;
    display: inline-block;
    border:1px solid #da6b1d;
    background-color:transparent ;
    color: #da6b1d;
    outline: none;
    font-size: 3.4rem;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
    transition: all .4s ease;
}
.contact-btn:hover{
    background-color: #da6b1d;
    box-shadow: 0.3rem 1rem rgba(0,0,0,.6);
    color: white;
}
.input{
    width: 98%;
    outline: none;
    border:10px solid #da6b1d;
    background-color: #fff;
    height: 7rem;
    font-size: 2rem;
    border-radius: 1000px;
    text-indent: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    padding: 1rem;
    transition: all .4s ease;

}
.input:focus{
    width: 100%;

}
.input:valid{
    border-left: 10px solid green;

}
input:invalid{
    border-left: 10px solid red;

}
.textarea{
    resize: none;
    height: 15rem;
    border-radius:40px ;
    padding: 2rem;

}
.form-grup label{
    position:absolute;
    top: 46px;
    left: 61px;
    font-size: 1.4rem;
    background-color: white;
    visibility: hidden;
    transition: top .4s ease,left .4s ease;
}
.input:focus label{
    top: 11px;
    left: 61px;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
    visibility: visible;
    border-radius: 10px;

}

.contact{
    padding: 1rem 1rem;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.maps-title{
    font-size: 5rem;
    color: white;
    text-align: center;

}

  /*******************footer********************/

footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}




  

  @media (max-width: 768px) {

    *{
        overflow-x: hidden;
    }
    

    .toggle{
        display: block;
    }
    .navbar-list{
        display: none;

    }
  /*********************************************/   

   
.heading-primary{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 2.5rem;
}

.lead{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 4px;
}


    /*-------------------*/
    .menu{
    width: 100%;
    padding: 0 0;
    background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5));
}

    .menu-grid{
        display: grid;
        grid-template-rows:repeat(1, 1fr) ;
        grid-template-columns: repeat(1, 1fr);
        justify-self: center;
        grid-gap: 2rem;
    }
    .menu-heading{
        font-size: 5rem;
        text-align: center;
        text-shadow: 0 0 1rem rgba(0,0,0,.9);
        text-transform: uppercase;
        color: white;
        font-weight: 800;
    }
    .menu{
        width: 100%;
        padding: 2rem 3rem;
        background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5));
    }
    .menu-hold{
        width: 100%;
    }
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }

    .contact-content{
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        margin: auto;
    }


    /***************contacto*********/
    .left{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .maps-title{
        font-size: 2rem;
        color: white;
        text-align: center;
    
    }
    .left{
        background-color:#da6b1d ;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .right{
       
        background-color:white ;
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
    }
    .right img{
    display: none;
        height: 5rem;
        width: 5rem;
        position: absolute;
        top:-5rem;
        left: -5rem;
    }
    .contact-form{
    text-align: center;
    padding: 0;
    width: 100%;
    }
    
    .form{
        width: 100%;
        text-align: center;
        padding: 0rem 0;
    
    }
    .form-grup{
        position: relative;
        padding: 0.5rem ;
        width: 100%;
    
    }
    
    .contact-heading{
        font-size: 2rem;
        color: #da6b1d;
    
        
    }
    .maps{
        width:250;
         height:250;
    }
    .contact-btn:link,
.contact-btn:visited{

    font-size: 1.4rem;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
    transition: all .4s ease;
}
    



  }